Intelligent Lead Router (2).json
{
  "name": "Intelligent Lead Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0766e46c-c52f-40ae-b715-38cb97debc61",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1056,
        -80
      ],
      "id": "01be4ca1-1dd5-4ff8-a35f-c3f3be75f463",
      "name": "Webhook",
      "webhookId": "0766e46c-c52f-40ae-b715-38cb97debc61"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.deal_value }}",
                    "rightValue": 100000,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "51541ad8-f729-4ae6-a854-61463bb9a79c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Enterprise"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "eb7105a0-6ba6-4271-ae9b-2f8fc882ee66",
                    "leftValue": "={{ $json.body.deal_value }}",
                    "rightValue": 10000,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mid-Market"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0cb2f698-fd5b-4518-90c3-ca7c4e5e73f9",
                    "leftValue": "={{ $json.body.deal_value }}",
                    "rightValue": 10000,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SMB"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -432,
        -112
      ],
      "id": "c91b848b-ca24-47e1-a144-6aa3be54ba7b",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.country }}",
                    "rightValue": "US ",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a3a22392-dddf-4711-b447-66ffcc8588c1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b5890a6e-3fa3-479a-b6a0-87341ca09420",
                    "leftValue": "={{ $json.body.country }}",
                    "rightValue": "NG",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EMEA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d5612f7f-c356-4b19-8b96-e2e72de36a2f",
                    "leftValue": "={{ $json.body.country }}",
                    "rightValue": "JP",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "APAC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f5830a46-9fe2-4aec-925e-e0d7a008cabf",
                    "leftValue": "={{ $json.body.country }}",
                    "rightValue": "BR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LATAM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        -384
      ],
      "id": "89424e36-bcb2-42ac-91f7-de591ce6d383",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.country }}",
                    "rightValue": "US",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9f96144a-d265-4cde-881e-202df57b6047"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fff75eb5-3e48-4de7-b103-fcde3f0160d5",
                    "leftValue": "={{ $json.body.country }}",
                    "rightValue": "NG",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EMEA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "54bf3c27-8bf3-48fb-9976-6eef0ccf9146",
                    "leftValue": "={{ $json.body.country }}",
                    "rightValue": "JP",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "APAC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0f8e9f26-1086-4f2a-be3e-6bc2bd5facad",
                    "leftValue": "={{ $json.body.country }}",
                    "rightValue": "BR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LATAM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        -128
      ],
      "id": "ab1103e7-36c7-4aee-9263-e597afe6cf92",
      "name": "Switch2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.country }}",
                    "rightValue": "US",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3af22173-ac53-4dc7-bc67-536e149860e2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d8122786-2782-484f-8445-9e625995365c",
                    "leftValue": "={{ ['NG','GB','UK','DE','FR'].includes($json.body.country) }}",
                    "rightValue": "UK",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bbd43a14-000e-48c5-b3ba-86b8defb743a",
                    "leftValue": "={{ $json.body.country }}",
                    "rightValue": "JP",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "APAC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fb2ad5da-65c6-4549-878a-c20f77e8237e",
                    "leftValue": "={{ $json.body.country }}",
                    "rightValue": "BR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LATAM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -208,
        128
      ],
      "id": "9ba9d79e-1b79-4972-8ca9-40e87e31b6e1",
      "name": "Switch3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "6f5e97b8-ea76-4821-b505-27bac8d55f8d",
              "leftValue": "={{ $json.body.lead_score }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "9d9ed4ba-d077-46fc-81c5-e5de9d0c6e41",
              "leftValue": "={{ $json.body.deal_value }}",
              "rightValue": 5000,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "8cdca85c-4555-4069-80da-5da5b4c8598a",
              "leftValue": "={{ $json.body.immediately_required }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        -112
      ],
      "id": "f27a3522-4354-4f31-8b5a-6df8e3ccb1e9",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db4b372f-f2b9-44cb-a592-c14863994290",
              "name": "assigned_rep",
              "value": "Sarah Johnson",
              "type": "string"
            },
            {
              "id": "a7878e82-77f2-426a-aaed-5e62fec87a62",
              "name": "rep_email",
              "value": "sarah@company.com",
              "type": "string"
            },
            {
              "id": "00bab127-7861-4ab6-b224-81d31bdb2291",
              "name": "priority",
              "value": "HIGH",
              "type": "string"
            },
            {
              "id": "63399a54-73f1-4ff7-bc3e-380f9ff2ea53",
              "name": "queue",
              "value": "priority",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -240
      ],
      "id": "5d01066e-933b-4ea0-9b64-58d0a21ebe5b",
      "name": "Assign Senior Rep",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c53685c5-3055-455c-a70e-334932f9efa9",
              "name": "assigned_rep",
              "value": "Mike Peters",
              "type": "string"
            },
            {
              "id": "e35ce9ac-31c1-4766-8aae-613744b33712",
              "name": "rep_email",
              "value": "mike@company.com",
              "type": "string"
            },
            {
              "id": "39d07347-8395-40c7-82dc-6aba6745e9b9",
              "name": "priority",
              "value": "NORMAL",
              "type": "string"
            },
            {
              "id": "ccee78b5-f356-4fe3-87f2-e185c444df23",
              "name": "queue",
              "value": "standard",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        48
      ],
      "id": "b8c2fcd8-eaed-4493-9c71-c66e7785af83",
      "name": "Regular Rep"
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\n\nreturn [{\n  json: {\n    notification: `New lead assigned to ${lead.assigned_rep}!`,\n    rep_email: lead.rep_email,\n    priority: lead.priority,\n    deal_value: lead.deal_value,\n    company: lead.company,\n    region: lead.region,\n    queue: lead.queue,\n    message: `Please action this lead immediately - Deal value: $${lead.deal_value}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -128
      ],
      "id": "579dbb62-350f-4b24-be3d-5bec70bb5296",
      "name": "Notify Rep",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\n\nreturn [{\n  json: {\n    logged: true,\n    timestamp: new Date().toISOString(),\n    assigned_rep: lead.assigned_rep,\n    company: lead.company,\n    deal_value: lead.deal_value,\n    priority: lead.priority,\n    region: lead.region,\n    queue: lead.queue,\n    status: \"assigned\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -96
      ],
      "id": "20f339dc-55f5-4751-a3c5-a24a26ec3a04",
      "name": "Log Assignment",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cd195745-1f18-464f-90c9-df2217cf82af",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1b12afcf-32a5-45d3-8c4f-400b8e823ed9",
              "leftValue": "={{ $json.body.company }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0e5c1b4d-6ea8-4d21-8818-1d8250bacc7e",
              "leftValue": "={{ $json.body.deal_value }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "d735cea4-8db6-4acc-aa64-50a362b2f7a2",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -848,
        -80
      ],
      "id": "50c12afc-b2f6-4a30-ab8e-c2a1512a7d23",
      "name": "IF Valid"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "{\"status\": \"rejected\", \"message\": \"Missing required fields: email, company or deal_value\"}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -656,
        16
      ],
      "id": "30f2bdc8-657e-4596-9095-9c3f4dec552b",
      "name": "Reject Response"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EWL85oEYfwCSHjeMqooGVn5JPSY8iNWFmyUEKkM_nnE",
          "mode": "list",
          "cachedResultName": "Lead Router Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EWL85oEYfwCSHjeMqooGVn5JPSY8iNWFmyUEKkM_nnE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EWL85oEYfwCSHjeMqooGVn5JPSY8iNWFmyUEKkM_nnE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ new Date().toISOString() }}",
            "lead_name": "={{ $('Webhook').first().json.body.name }}",
            "team": "={{ $('Assign Senior Rep').first().json.assigned_rep }}",
            "region": "={{ $('Webhook').first().json.body.country }}",
            "priority": "={{ $json.priority }}",
            "status": "assigned",
            "error_message": "={{ $json.error_message || \"\" }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_name",
              "displayName": "lead_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "team",
              "displayName": "team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        -96
      ],
      "id": "795e45dd-482e-4dfd-a7ee-c26d389981d2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "J8AYZ85qakHMHOyY",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"status\": \"assigned\",\n\"message\": \"Lead successfully received and assigned!\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1136,
        -96
      ],
      "id": "bd1000b2-4e61-4c31-99a6-d361beadb614",
      "name": "Success Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Assign Senior Rep",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Regular Rep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Senior Rep": {
      "main": [
        [
          {
            "node": "Notify Rep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regular Rep": {
      "main": [
        [
          {
            "node": "Notify Rep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Rep": {
      "main": [
        [
          {
            "node": "Log Assignment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Assignment": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e6f01431-e62f-46bc-880a-20e141c0cbc9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86cfbd1318d1a50e97e3835896a50adb7d88bd70e6584a4a8cb548491ab6a85e"
  },
  "id": "CkwX3McuMRNkUi7o",
  "tags": []
}